.main-tables-container {
    display: flex;
    justify-content: center;
}

.tables-container {
    margin: 0 20px;
}

.background-section {
    width: 100%;
    min-width: 320px;
    height: 70vh;
    background-image: url("https://github.com/degranda/batata-bit/blob/master/assets/img/bitcoinbaby2x.jpg?raw=true");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-cards-container {
   width: 22%;
}

.plans-container--slider {
    display: flex;
    justify-content: center;
}