/* 
Cómo colocar estilos en CSS por buenas prácticas:

1. Posicionamiento (static, absolute, relative, fixed)
2. Modelo de caja (margin, border, padding, content)
3. Tipografía (tipos, tamaños de fuente, etc.)
4. Estilos visuales (box-shadows, border-radius, gradient, etc.)
5. Otros (reglas CSS y más)
*/

/* variables */
:root {
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #E7F5FF;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #FaF8F7;
    --just-white: #fff;
    --card-background: #282623;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Dm Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 50px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89,73,30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black)
}

.header--button span {
    display: inline-block;
    width: 20px;
    height: 15px;
    margin-left: 5px;
    background-image: url('https://upana-my.sharepoint.com/personal/201806846_upana_edu_gt/Documents/assets/icons/down.png');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-coin-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.background-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-image: url('https://upana-my.sharepoint.com/personal/201806846_upana_edu_gt/Documents/assets/images/Bitcoin.png');
    background-size: cover;
    background-position: center;
}

.main-coin-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.main-coin-container--title h2 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
    color: var(--warm-black);
    text-align: center;
}

.main-coin-container--title p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    text-align: center;
    color: #757575;
}

.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-tables-container {
    margin-bottom: 5px;
}

.main-currency-table .currency-table--title {
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    text-align: left;
}

.orangetitle {
    color: var(--bitcoin-orange);
}

.bluetitle {
    color: var(--secondary-blue);
}

.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table {
    width: 100%;
    height: 100%;
    
}

.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575
}

.currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("https://upana-my.sharepoint.com/personal/201806846_upana_edu_gt/Documents/assets/icons/trending-down.png");
    background-size: cover;
}

.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("https://upana-my.sharepoint.com/personal/201806846_upana_edu_gt/Documents/assets/icons/trending-up.png");
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
}

.currency-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    
    border-radius: 8px;
}
.orangedate {
    background-color:  var(--soft-orange);
}

.bluedate {
    background-color: var(--soft-blue);
}

.currency-table--date p {
    font-size:  1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    font-weight: 300;
}

.main-product-container {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    background-color: var(--warm-black);
}

.potato-logo {
    position: absolute;
    left: 43%;
    top: -11px;
    width: 41px;
    height: 24.01px;
    background-image: url("https://upana-my.sharepoint.com/personal/201806846_upana_edu_gt/Documents/assets/images/division-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-title-container {
    width: 85%;
    margin: 0 auto;
    padding-top: 65px;
    margin-bottom: 30px;
}

.product--title {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--just-white);
    text-align: center;
}

.product--description {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #808080;
    text-align: center;
    margin-top: 30px;
}

.product-cards-container {
    width: 90%;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 15px;
    background-color: var(--card-background);
}

.clock-icon {
    width: 24px;
    height: 24px;
    display: block;
    background-image: url("https://upana-my.sharepoint.com/personal/201806846_upana_edu_gt/Documents/assets/icons/clock.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.eye-icon {
    width: 24px;
    height: 24px;
    display: block;
    background-image: url("https://upana-my.sharepoint.com/personal/201806846_upana_edu_gt/Documents/assets/icons/eye.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dollar-icon {
    width: 24px;
    height: 24px;
    display: block;
    background-image: url("https://upana-my.sharepoint.com/personal/201806846_upana_edu_gt/Documents/assets/icons/dollar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.check-icon {
    width: 24px;
    height: 24px;
    display: block;
    background-image: url("https://upana-my.sharepoint.com/personal/201806846_upana_edu_gt/Documents/assets/icons/check-circle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.producto--card-title {
    margin: 10px 0;
    text-align: left;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--just-white);
}

.producto--card-description {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}